/* General reset and container styling */

 .menu-button, .filter-button, .collapse-button, .expand-button, .next-level-button, .previous-level-button, .pdf-button, .pptx-button
 {
    background-color: #2980b9; /* Blue button */
    color: white;
    border: none;
    padding: 10px 15px; /* Padding for button */
    cursor: pointer;
    margin-right: 10px; /* Space to the right of the button */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.5em; /* Font size for the button */
    transition: background-color 0.3s; /* Transition for hover effect */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Shadow for the menu */
}

.menu-button:hover, .collapse-button:hover, .expand-button:hover {
    background-color: #3498db; /* Lighter blue on hover */

}
body {
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scroll bars */
    height: 100vh; /* Full height of the viewport */
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50; /* Darker gray for heading */
}

/* Banner styling */
.banner {
    display: flex; /* Flexbox for alignment */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: #34495e; /* Dark gray banner */
    color: #ecf0f1; /* Light text color */
    padding: 20px;
    font-size: 1.5em;
    border-radius: 0px; /* No rounded corners */
    margin-bottom: px; /* Add space below the banner */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Shadow for the menu */
}
.mini-banner {
    display: flex; /* Flexbox for alignment */
    justify-content: space-around; /* Space out items evenly */
    background-color: #bdc3c7; /* Light gray background */
    color: #2c3e50; /* Dark text color */
    padding: 5px; /* Padding for the banner */
    font-size: 1.2em; /* Font size for the text */
    border-radius: 0px; /* Rounded corners */
    margin-bottom: 0px; /* Space below the banner */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Shadow for the menu */
    margin-top: 0px;   
}
/* Content and login container styling */
.content {
    padding: 20px;
    text-align: center;
}
svg {
    background-color: #fff; /* White background for the SVG */
    width: 100%;
    height: calc(100vh - 300px); /* Adjust for banner height */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    overflow: auto;
}

