.filter-menu.active {
    right: 0; /* Show the filter menu */
}
.filter-menu h2 {
    margin-top: 0;
}
.filter-menu select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2980b9;
    border-radius: 5px;
}

/* Filter button styles */
.filter-button:hover {
    background-color: #3498db; /* Lighter blue on hover */
}