/* Ensure login-container is centered */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto; /* Center horizontally */
    text-align: center;
}

/* Input fields styling */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #34495e;
}

/* Error message styling */
#error-message {
    color: red;
    margin-top: 15px;
}

#togglePassword {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 40%;
}